@{
    ViewData["Title"] = "Album";
}
<main>
    <section class="GrupoB">
        <div class="Bosnia">

        </div>
        <div class="Qatar">

        </div>    
    </section>
    <section class="GrupoC">
        <div class="Brasil">

        </div>
    </section>
    <section class="GrupoE">
        <div class="Alemania">

        </div>
        <div class="CostaDeMarfil">

        </div>      
    </section>
    <section class="GrupoF">
        <div class="Suecia">

        </div>  
    </section>
    <section class="GrupoH">
        <div class="España">

        </div>
        <div class="CaboVerde">

        </div>  
    </section>
    <section class="GrupoI">
        <div class="Francia">

        </div>
        <div class="Noruega">

        </div>      
    </section>
    <section class="GrupoJ">
        <div class="Argentina">

        </div>
        <div class="Argelia">

        </div>   
    </section>
    <section class="GrupoK">
        <div class="RDCongo">

        </div>
        <div class="Uzbekistan">

        </div>
    </section>
    <section class="GrupoL">
        <div class="Inglaterra">

        </div>   
    </section>                                     
</main>
