@{
    ViewData["Title"] = "Album";
}
<body>
    <main>
        <h1>Album digital</h1>
        <section class="GrupoB">
            <div class="Bosnia">
                <h2>Bosnia y Herzegovina</h2>
            </div>
            <div class="Qatar">
                <h2>Qatar</h2>
            </div>    
        </section>
        <section class="GrupoC">
            <div class="Brasil">
                <h2>Brasil</h2>
            </div>
        </section>
        <section class="GrupoE">
            <div class="Alemania">
                <h2>Alemania</h2>
            </div>
            <div class="CostaDeMarfil">
                <h2>Costa De Marfil</h2>
            </div>      
        </section>
        <section class="GrupoF">
            <div class="Suecia">
                <h2>Suecia</h2>
            </div>  
        </section>
        <section class="GrupoH">
            <div class="España">
                <h2>España</h2>
            </div>
            <div class="CaboVerde">
                <h2>Cabo Verde</h2>
            </div>  
        </section>
        <section class="GrupoI">
            <div class="Francia">
                <h2>Francia</h2>
            </div>
            <div class="Noruega">
                <h2>Noruega</h2>
            </div>      
        </section>
        <section class="GrupoJ">
            <div class="Argentina">
                <h2>Argentina</h2>
            </div>
            <div class="Argelia">
                <h2>Argelia</h2>
            </div>   
        </section>
        <section class="GrupoK">
            <div class="RDCongo">
                <h2>Republica Democratica del Congo</h2>
            </div>
            <div class="Uzbekistan">
                <h2>Uzbekistan</h2>
            </div>
        </section>
        <section class="GrupoL">
            <div class="Inglaterra">
                <h2>Inglaterra</h2>
            </div>   
        </section>                                     
    </main>
</body>
