@{
    ViewData["Title"] = "Álbum Digital";
}

<main class="inicio">

    <h1>Álbum Digital Mundial 2026</h1>

    <p>
        ¡Bienvenido! Desde aquí podés abrir sobres de figuritas o ver tu colección.
    </p>

    <div class="botones">

        <form action='@Url.Action("IndexAlbum","Home")' method="GET">
            <input type="submit" value="Ver Álbum">
        </form>

        <form action='@Url.Action("IndexSobre","Home")' method="GET">
            <input type="submit" value="Abrir Sobres">
        </form>

    </div>

</main>
