@{
    ViewData["Title"] = "Home Page";
}
<main>
    <section class="GrupoA">
        <div class="Mexico">

        </div>
        <div class="Sudafrica">

        </div>
        <div class="Corea">

        </div>
        <div class="Chequia">

        </div>    
    </section>
    <section class="GrupoB">
        <div class="Canada">

        </div>
        <div class="Bosnia">

        </div>
        <div class="Qatar">

        </div>
        <div class="Suiza">

        </div>      
    </section>
    <section class="GrupoC">
        <div class="Brasil">

        </div>
        <div class="Marruecos">

        </div>
        <div class="Haiti">

        </div>
        <div class="Escocia">

        </div>      
    </section>
    <section class="GrupoD">
        <div class="EstadosUnidos">

        </div>
        <div class="Paraguay">

        </div>
        <div class="Australia">

        </div>
        <div class="Turquia">

        </div>      
    </section>
    <section class="GrupoE">
        <div class="Alemania">

        </div>
        <div class="Curazao">

        </div>
        <div class="CostaDeMarfil">

        </div>
        <div class="Ecuador">

        </div>      
    </section>
    <section class="GrupoF">
        <div class="PaisesBajos">

        </div>
        <div class="Japon">

        </div>
        <div class="Suecia">

        </div>
        <div class="Tunez">

        </div>      
    </section>
    <section class="GrupoG">
        <div class="Belgica">

        </div>
        <div class="Egipto">

        </div>
        <div class="Iran">

        </div>
        <div class="NuevaZelanda">

        </div>      
    </section>
    <section class="GrupoH">
        <div class="España">

        </div>
        <div class="CaboVerde">

        </div>
        <div class="ArabiaSaudita">

        </div>
        <div class="Uruguay">

        </div>      
    </section>
    <section class="GrupoI">
        <div class="Francia">

        </div>
        <div class="Senegal">

        </div>
        <div class="Irak">

        </div>
        <div class="Noruega">

        </div>      
    </section>
    <section class="GrupoJ">
        <div class="Argentina">

        </div>
        <div class="Argelia">

        </div>
        <div class="Austria">

        </div>
        <div class="Jordania">

        </div>      
    </section>
    <section class="GrupoK">
        <div class="Portugal">

        </div>
        <div class="RDCongo">

        </div>
        <div class="Uzbekistan">

        </div>
        <div class="Colombia">

        </div>      
    </section>
    <section class="GrupoL">
        <div class="Inglaterra">

        </div>
        <div class="Croacia">

        </div>
        <div class="Ghana">

        </div>
        <div class="Panama">

        </div>      
    </section>                                     
</main>
