body
{
  background-color: #F4F0EA;
}
h1,h2
{
  color: #1A1A1A;
  text-align: center;
}
section
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.Bosnia
{
  background-color: #002F6C;
  border-radius: 25px;
}
.Bosnia h2
{
    color:#FFCD00;
}
.Qatar
{
  background-color: #8A1538;
  border-radius: 25px;
}
.Qatar h2
{
    color:#F4F0EA;
}
.Brasil
{
    background-color: #009739;
    border-radius: 25px;
}
.Brasil h2
{
    color: #FEDD00;
}
.Alemania
{
    background-color: #DD0000;
    border-radius: 25px; 
}
.Alemania h2
{
    color:#FFCC00;
}
.CostaDeMarfil
{
    background-color: #09A440;
    border-radius: 25px; 
}
.CostaDeMarfil h2
{
    color:#FFFFFF;
}
.Suecia
{
    background-color: #006AA7;
    border-radius: 25px; 
}
.Suecia h2
{
    color: #FECC02;
}
